@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This has been created to show you how to handle images using ASP.NET MVC 3 & Entity Framework.

     Current Version: Stable 1.0.
</p>
<p>  
     If you are interested in the Bradaz.OpenSource assemblies i have used then please my Codeplex site here
     <a href="http://bradaz.codeplex.com/" title="Bradaz Utilities">http://bradaz.codeplex.com/</a>
</p>
