@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Learn more above MvcImage <a href="http://garfbradazweb.wordpress.com" title="My Web Anecedotes">http://garfbradazweb.wordpress.com</a>.
    
    If you find this Project useful, please take the time to review it on the Codeplex site.
</p>
